<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Polygot HTML “Multi Input” Component</title>
  <style type="text/css">
    label {
      display: block;
      margin: 1em 0;
    }
    textarea {
      display: block;
      width: 30em;
      height: 5em;
    }
  </style>
  <%= @component %>
</head>
<body>
  <%= yield %>
</body>
</html>
